@model MyTest.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.task_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.execution_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.execution_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.task_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
